
html {
  overflow-x: hidden;
}

body {
  position: relative;
  margin: 0 auto;
  padding: 0 40px 40px 40px;

  opacity: 0;
  transition: opacity 500ms;

  &.loaded {
    opacity: 1;
  }

  @include min-screen(500px) {
   max-width: 600px;
  }
}

ul {
  padding: 0;
  list-style-type: none;
}


main {
  display: flex;
  flex-direction: column;

  > header {
  flex: 1;
  margin-top: 1rem;

    @include max-screen(500px) {
        margin-top: 0;
    }
  }
}