// Config

// Colors
$sh-orange: #f38846;
$sh-yellow: #F8AB44;
$sh-red: #F08075;


$color-bg: $sh-red;
$color-default : white;
$color-gray : #CCC;
$color-border : #e3e3e3;
$color-navy : hsl(210, 25%, 12%);
$color-link : darken(white, 1);
$color-link-hover : white;

// Typography
$html-font-size: 16px;
$body-font-size: 62.25%;
$line-height : 1.6em;
$font-sans :  Helvetica, Arial, sans-serif;
$font-serif : "Playfair Display", Helvetica, Arial, sans-serif;
// $font-serif : 'Merriweather', Georgia, "Times New Roman", serif;
// $font-mono : "Source Code Pro", Monaco, Menlo, Consolas, monospace;
// $font-title : Lato, $font-sans;
