extends ../../layouts/default

block content
  header
    nav
      ul
        li
          a(href="//github.com/shorten/js#shortenjs") documentation
        li
          a(href="/") shorten.li
        li
          a(href="https://twitter.com/shortenli" target="_blank") twitter
  main
    header
      h1 shorten.js
      h2
        span="A free client-side url-shortener, say whaat?"

    section.code
      pre="reimertz at MacBook-Pro in ~/git/shorten/\n$"
      script.
        var array = [ "bower install shorten --save\n",
          "$touch hax.js\n",
          "$subl hax.js \n\n",
          "1 var long = 'http://reimertz.co'; \\\\not so long :D \n",
          "2 shorten.url(long,\n",
          "3    function(err, short){\n",
          "4      if(err) alert('most be a valid url.')\n",
          "5 \n",
          "6        prompt(long + ' got shortened to', short);\n",
          "7    });"]
        .join('')
        .split('');

        var interval = setInterval(function(){
          if(!array[0]){
            var long = 'http://reimertz.co';

            shorten.url(long, function(err, short){
              if(err) alert('most be a valid url.')

              prompt(long + ' got shortened to', short);
            });
            return clearInterval(interval);
          }

          document.querySelector('pre').innerHTML+= array.shift();
        }, 100);