main > section.code {

  margin-top: 6rem;

  pre {
    text-align: left;
    font-size: 1.4rem;
    border-left: 3px solid white;
    padding-left: 10px;

  }

  @include max-screen(500px) {
      margin-top: 3rem;
      pre {
        font-size: 0.8rem;
      }

    }
}