
body {
  background: firebrick;
  color: white;
  text-align: center;
  margin: 0 auto;
}

header {
  font-family: 'Playfair Display', serif;
  height: 200px;
  padding:50px;
  background-color: firebrick;
  color: white;
}

a,
.clear {
  opacity: 1;
  transition: 200ms;
}
a:hover,
.clear:hover {
  opacity: 0.8;
}

h1 {
  letter-spacing: 1px;
}

h3, h4 {
  letter-spacing: 2px;
  opacity: 0.9;
}

.clear {
  font-size: 12px;
  vertical-align: bottom;
  line-height: 20px;
  cursor: pointer;
}

section.form {
  margin: 50px ;
}

section.form form input[name="url"] {
  height: 20px;
  padding: 10px;
  font-size: 14px;
  color: firebrick;
  width: 50%;
}

section.form form input[name="url"]::-webkit-input-placeholder {
  color: firebrick;
  opacity:0.4;
}

section.form form input[name="url"]:-moz-placeholder { /* Firefox 18- */
  color: firebrick;
  opacity:0.4;
}

section.form form input[name="url"]::-moz-placeholder {  /* Firefox 19+ */
  color: firebrick;
  opacity:0.4;
}

section.form form input[name="url"]:-ms-input-placeholder {
  color: firebrick;
  opacity:0.4;
}

section.form form input[type=submit] {
  text-transform: uppercase;
  background-color: white;
  color: firebrick;
  height: 43px;
  padding:5px 25px;
  border:0 none;
  cursor: pointer;
  opacity: 1;
  transition: 200ms;
}

section.form form input[type=submit]:hover {
  opacity: 0.9;
}

section.list {
  margin-top: 20px;
  background-color: white;
  color: firebrick;
  padding: 50px;
}

section.list h3 {
  margin: 0;
  padding: 0;
}

section.list ul {
  margin: 30px 0 10px;
  padding: 0;
  list-style-type: none;
}

section.list ul li {
  margin: 5px 0;
}

section.list ul li a {
  color: firebrick;
  font-style: italic;
}


section.social {
  margin: 50px 0;
}

footer {
  height: 100px;
  line-height: 100px;
}

footer a {
  color: white;
}
footer span {
  margin: 0 10px;
}
